/* ul {
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  display: inline;
  padding: 15px;
  border: 1px solid pink;
} */



h1{
  color: #893206;
  text-align: center;
}

body{
  font-family: "Inter", sans-serif;
  
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;}li{
  display: flex;
  list-style: none;
  width: 280px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #595F5D;
  background-color: #FFF8F0;
  border: 1px solid rgb(251, 227, 183);
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  text-align: left;
  box-sizing: content-box;
  height: auto;
  
}

img{
  width: 100%;
  border-radius: 50%;
}

h2 {
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #893206;
}

.botonVer {
  padding: 10px 20px;
  background-color: #EB550A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

p {
  /* padding: 0; */
  margin: 0;
  font-size: 16px;
}

li{
  padding: 10px;
}

.divBoton{
  width: 100%;
  
  margin-top: 14px;
  margin-left: 78px;
  margin-bottom: 5px;
}

