h1 {
  color: #6f3a34;
  text-align: center;
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin: 0;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  /* margin-bottom: 35px; */
  color: #595F5D;
}

body {
  font-family: "Inter", sans-serif;
  /* background-color: #eae2f4; */
  /* background-color: #FFE0D7; */
  margin: 0;
}

header {
  padding-top: 25px;
  background: no-repeat url(images/header-gato.png);
  background-position: bottom -12px right 100px;
  background-size: 15%;
  padding-bottom: 45px;
  margin: 0;
}

nav {
  margin: 0;
  padding: 20px 30px;
  color: #FFF8F0;
  background-color: #B9929F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  /* height: 70px; */
  /* border-top-left-radius: 40px; */
  /* border-top-right-radius: 40px; */
}

/*
label {
  display: none;
}
*/

select {
  width: 20px;
  color: #FFF8F0;
  border: none;
  background-color: #B9929F;
  cursor: pointer;
  font-size: 16px;
}

.botonMenu {
  border: 1px solid #FFF8F0;
  border-radius: 5px;
  background: none;
  color: #FFF8F0;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
}

.botonMenu:hover {
  background-color: #895866;
  border: none;
}

.menu-boton {
  color: white;
  font-size: 20px;
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}

#root {
  /* background-color: #EFEFEF; */
  background-color: #eae2f4;
  /* background-color: #FFF8F0; */
  /* background-color: #fed9b7; */
  /* border: 1px solid #F07A6A; */
  padding: 10px 40px 5px 40px;
  /* padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px; */
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6f3a34;
}

.tarjeta {
  width: 280px;
  color: #595F5D;
  background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
  /* background-color: white; */
  /* background-color: #FFF8F0; */
  /* background-color: #fdfcdc;
  border: 4px double #fed9b7; */
  /* border: 4px double rgb(251, 227, 183); */
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  text-align: left;
  height: 530px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  transition: all .3s;
}

.tarjeta:hover {
  scale: 1.05;
}

.tarjeta img {
  width: 100%;
  border-radius: 50%;
}

.tarjeta p {
  margin: 0;
  font-size: 16px;
}

.descripcion {
  text-align: center;
  padding-bottom: 10px;
}

.datos {
  /* color: #967cb6; */
  font-weight: bold;
  padding-left: 20px;
}

hr {
  /* border: 1px solid rgb(181, 181, 181); */
  /* margin: 5px 0; */
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.divBoton {
  width: 100%;
  margin: 14px 0 5px 0;
  text-align: center;
}



footer {
  background-color: #EFEFEF;
  /* background-color: red; */
  /* margin: 0;
  padding: 0; */
  padding: 5px 0 20px 0;
  /* margin: 0 30px; */
  text-align: center;
  font-style: italic;
  color: #595F5D;
}

footer p {
  margin: 0;
}

/*------------------------*/
.cerrar-filtros{
  display: none;
}

.contenedor-x{
  display: flex;
  justify-content: flex-end;
}
/*-------------------------*/

@media only screen and (max-width: 450px) {

  /* #root {
    padding: 10px 20px 5px 20px;
  } */
  header {
    background: none;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 15px;
  }

  /* nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } */

  .menu-boton {
    display: block;
  }

  .menu-normal {
    display: none;
  }

  select {
    font-size: 14px;
  }

  h2 {
    font-size: 22px;
  }

  .tarjeta {
    margin-top: 5px;
    height: auto;
  }

  .tarjeta p {
    font-size: 14px;
  }

  header {
    background: none;
  }

  footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    background: none;
  }

  .menu-normal {
    display: none;
  }

  /* .menu-responsive {
    display: none;
  } */

  .menu-boton {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  header {
    background-position: bottom -10px right 30px;
  }
}

.div-stadisticas{
 display: none;
}