h1 {
  color: #6f371a;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

header {
  padding-top: 5px;
  padding-bottom: 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

h2 {
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6f371a;
}

.tarjeta {
  width: 260px;
  color: #595F5D;
  background-color: #FFF8F0;
  border: 4px double rgb(251, 227, 183);
  border-radius: 10px;
  margin: 5px;
  padding: 30px;
  text-align: left;
  height: 520px;
}

.tarjeta img {
  width: 100%;
  border-radius: 50%;
}

.tarjeta p {
  margin: 0;
  font-size: 16px;
}

.divBoton {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.botonVer {
  padding: 10px 20px;
  background-color: #ee6856;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

